<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show | Simpler application</title>
  </head>
  <body>
    <h1>Simpler framework at work!</h1>

    <form action="/tests/3/question/3/author/5?var_get=1" method=post>
      <input name="var_post" value="2">
      <button type=submit>OK</button>
    </form>


  </body>
</html>